

.principles {
  padding: 1em 1.5em 0.5em 1.5em;
  background: #72B4F3A0;
  border: 0px;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-top: 5px;
}

.principles-title {
  font-weight: 800;
  font-size: 25px;
}